{{ define "main" }}
<h2>Hi there!</h2>
I'm a college student living in Southern California. I'm currently studying computer science and mathematics. Occasionally, I'll write about what I'm doing on the <a href="posts">posts</a> section of this website. You can also find me on the following platforms:

<ul>
	<li><a href="https://github.com/MarkusG">GitHub</a></li>
	<li><a href="https://www.linkedin.com/in/mark-gross-a73266173/">LinkedIn</a></li>
	<li><a href="https://twitter.com/Mark__Gross">Twitter</a></li>
</ul>
{{ end }}
